@import "common";
@import "book";
@W:240;
@H:320;

.wrap{position:relative;display:table; border-collapse:separate; margin:5px; float:left; background:#eee; width:@W; height:@H; }
.box{position:relative;width:100%; height:100%; overflow: hidden;}
.img{ background:url(../../images/img.jpg);}


