@import "common";

#track{
	position:absolute;
	.dot2{background:#0F0; width:2px; height:@W+@Pad*2;margin:-@W/2-@Pad 0 0 -1px;  position:absolute;}
}
#shadowDot{
	position:absolute;
	font-size:9px;
	.dot1{background:#F00; width:4px; height:4px;margin:-2px 0 0 -2px;  position:absolute;}
}
@W:270;
@H:360;
@pad:10;
@Pad:10;
@grey:#999;

body{.userSelect(none);background:#ddd; height:100%; font-size:16; font-family:"微软雅黑","黑体",sans-serif;}
.feedView{
	position:relative;
	width:@W+@Pad*2; height:@H; margin:60 auto;
}
#shadow{
	svg{
		@w:@W*4;
		@h:@H*2;
		top:-100;left:-(@w - @W)/2;
		position:absolute;
		width:@w;height:@h;
	}
}
#controller{
	@w:@W*2;
	@h:@H*1.5;
	@btnW:100;
	top:-40;left:-(@w - @W)/2;
	position:absolute;
	width:@w;height:@h;
	#touchPanel{
		width:100%; height:100%;
	}
	#btnPrev{
		position:absolute; top:0; left:-@btnW; cursor:pointer;
		width:@btnW; height:100%;
	}
	#btnNext{
		position:absolute; top:0; right:-@btnW; cursor:pointer;
		width:@btnW; height:100%;
	}
}


#papers{
	width:@W+@Pad*2; height:@H;
	.perspective(1400);
	.transform-style(preserve-3d);
}
.paper{
	-webkit-transform-origin:center center center;
	position:absolute; background:#FFF;
	padding:@Pad; margin:10; width:@W; height:@H;
	@radius:10;
	font-size:12px;
	&.front{
		border-top-right-radius:@radius;
		border-bottom-right-radius:@radius;
		.shadow{
			position:absolute; top:0; left:0; z-index:100;
			border-top-right-radius:@radius;
			border-bottom-right-radius:@radius;
			width:100%; height:100%; background:-webkit-linear-gradient(right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.6) 100%);
		}
		.cell{position:relative;}
		.tag{
			padding:5;
			border-top-right-radius:3;
			border-bottom-right-radius:3;
			overflow: hidden;white-space:nowrap;
			position:absolute; right:0; background:#F00;
			text-align:right;
			&.back{
				&:after{
					content:""; position:absolute; top:0; left:0; width:100%; height:100%;
					background:-webkit-linear-gradient(right, rgba(0,0,0,0) 60%,rgba(0,0,0,0.5) 100%);
				}
			}
		}
	}
	&.back{
		border-top-left-radius:@radius;
		border-bottom-left-radius:@radius;
		.shadow{
			position:absolute; top:0; left:0; z-index:100;
			border-top-left-radius:@radius;
			border-bottom-left-radius:@radius;
			width:100%; height:100%; background:-webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.6) 100%);
		}
		.cell{position:relative;}
		.tag{
			padding:5;
			border-top-left-radius:3;
			border-bottom-left-radius:3;
			overflow: hidden;white-space:nowrap;
			position:absolute; left:0; background:#F00;
			text-align:right;
			&.back{
				&:after{
					content:""; position:absolute; top:0; left:0; width:100%; height:100%;
					background:-webkit-linear-gradient(left, rgba(0,0,0,0) 60%,rgba(0,0,0,0.5) 100%);
				}
			}
		}
	}
}

