@import "common";
@import "book";

.listView{
	width:200px; height:100%; float:left; margin:0 10px; overflow-y:auto;
}
.feedView{
}
.articleView{
	width:600px; height:100%; background:@white; float:left; margin:0 10px; overflow-y:auto;
}

.feedView{
	position:relative;
	width:@W+@Pad*2; height:@H; margin:60 auto;
}
#shadow{
	svg{
		@w:@W*4;
		@h:@H*2;
		top:0;left:-(@w - @W)/2+20;
		position:absolute;
		width:@w;height:@h;
	}
}
#controller{
	@w:@W*2;
	@h:@H*1.5;
	@btnW:100;
	top:-40;left:-(@w - @W)/2;
	position:absolute;
	width:@w;height:@h;
	#touchPanel{
		width:100%; height:100%;
	}
	#btnPrev{
		position:absolute; top:0; left:-@btnW; cursor:pointer;
		width:@btnW; height:100%;
	}
	#btnNext{
		position:absolute; top:0; right:-@btnW; cursor:pointer;
		width:@btnW; height:100%;
	}
}


