* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  vertical-align: top;
}
ul,
li {
  list-style-type: none;
}
button,
a {
  cursor: pointer;
}
i,
em,
cite {
  font-style: normal;
}
body {
  background: #ddd;
  height: 100%;
  overflow: hidden;
  font-size: 16;
  font-family: "微软雅黑", "黑体", sans-serif;
}
.feedView {
  position: relative;
  width: 290;
  height: 360;
  margin: 60 auto;
}
#shadow svg {
  top: 0;
  left: -385;
  position: absolute;
  width: 1080;
  height: 720;
}
#btnPrev {
  position: absolute;
  top: -40;
  left: -200;
  cursor: pointer;
  background: #ccc;
  color: #fff;
  width: 50;
  height: 24;
  text-align: center;
}
#btnNext {
  position: absolute;
  top: -40;
  right: -200;
  cursor: pointer;
  background: #ccc;
  color: #fff;
  width: 50;
  height: 24;
  text-align: center;
}
#papers {
  -webkit-user-select: none;
  -moz-user-select: none;
  width: 290;
  height: 360;
  -webkit-perspective: 1400;
  -moz-perspective: 1400;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
.paper {
  -webkit-transform-origin: center center center;
  position: absolute;
  background: #FFF;
  padding: 10;
  margin: 10;
  width: 270;
  height: 360;
  display: none;
}
.paper.hide {
  display: none;
}
.paper.front {
  border-top-right-radius: 10;
  border-bottom-right-radius: 10;
}
.paper.front .shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-top-right-radius: 10;
  border-bottom-right-radius: 10;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.paper.back {
  border-top-left-radius: 10;
  border-bottom-left-radius: 10;
}
.paper.back .shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-top-left-radius: 10;
  border-bottom-left-radius: 10;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, #000000 100%);
}
